extends ../layout.pug

append head
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.min.css")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker3.min.css")

	script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js")

block content
	.container
		.page-header
			h1 Reservation
		.row
			.col-md-4
				p.text-center
					span.glyphicon.glyphicon-bookmark.glyphicon-form
			.col-md-8
				form.form-horizontal(role="form", method="post", action="/client/reservation-2")
					.form-group
						label.control-label.col-sm-2(for="cli") Client :
						.col-sm-10
							select#cli.form-control(name="client")
								each row in result1
									option(value=row.ID) #{row.Client}
					.form-group
						label.control-label.col-sm-2(for="vhc") Vehicule :
						.col-sm-5
							select#vhc.form-control(name="modele")
								option(value="") None
								each row in result2
									option(value=row.Modele) #{row.Modele}
						.col-sm-5
							select#vhc.form-control(name="option")
								option(value="") None
								each row in result3
									option(value=row.Code) #{row.Libelle}
					.form-group
						label.control-label.col-sm-2(for="for") Formule :
						.col-sm-10
							select#for.form-control(name="formule")
								each row in result4
									option(value=row.Type) #{row.Type}
					.form-group
						label.control-label.col-sm-2(for="dep") Departure :
						.col-sm-10
							.input-group.date(data-provide="datepicker", data-date-week-start=1, data-date-start-date="today", data-date-format="yyyy-mm-dd")
								input#dep.form-control(type="text", name="departure", placeholder="Departure")
								.input-group-addon
									span.glyphicon.glyphicon-th
					.form-group
						.col-sm-offset-2.col-sm-10
							input.btn.btn-default(type="submit", value="Search")
